@define-color black	#22262D;
@define-color red	#c4746e;
@define-color green	#8a9a7b;
@define-color yellow	#c4b28a;
@define-color blue	#8ba4b0;
@define-color purple	#a292a3;
@define-color cyan	#8ea4a2;
@define-color gray	#a4a7a4;
@define-color brgray	#5C6066;
@define-color brred	#e46876;
@define-color brgreen	#87a987;
@define-color bryellow	#e6c384;
@define-color brblue	#7fb4ca;
@define-color brpurple	#938aa9;
@define-color brcyan	#7aa89f;
@define-color white	#C5C9C7;
@define-color bg2	#43464E;

@define-color gradient1 #505359;
@define-color gradient2 #5C5F64;
@define-color gradient3 #686B6F;
@define-color gradient4 #747779;
@define-color gradient5 #808384;
@define-color gradient6 #8C8F8F;

@define-color warning 	@bryellow;
@define-color critical	@brred;
@define-color unfocused	@bg2;
@define-color focused	@brcyan;
@define-color inactive	@green;
@define-color sound	@brpurple;
@define-color network	@purple;
@define-color memory	@brcyan;
@define-color bluetooth	@brblue;
@define-color cpu	@green;
@define-color disk	@brgreen;
@define-color layout	@bryellow;
@define-color music	@yellow;
@define-color battery	@cyan;
@define-color date	@black;
@define-color time	@white;

@keyframes blink-critical {
  to {
    /*color: @white;*/
    background-color: @critical;
  }
}

* {
  font-family: "Adwaita Sans", sans-serif;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
  box-shadow: none;
  text-shadow: none;
  icon-shadow: none;
}

#waybar {
  background: transparent;
  color: @white;
  font-family: CaskaydiaCove Nerd Font Mono;
  font-size: 10pt;
  /*font-weight: bold;*/
}

.modules-left {
  margin: 5px 5px;
  background: rgba(40, 40, 40, 0.8784313725); /* #282828e0 */
  border-radius: 10px;
}
.modules-center {
  background: rgba(40, 40, 40, 0.8784313725); /* #282828e0 */
  margin: 5px 5px;
  border-radius: 10px;
}
.modules-right {
  background: rgba(40, 40, 40, 0.8784313725); /* #282828e0 */
  margin: 5px 5px;
  border-radius: 10px;
}

#clock,
#custom-docker,
#custom-github,
#network,
#cpu,
#memory,
#disk,
#custom-music,
#bluetooth,
#pulseaudio,
#tray,
#battery,
#language,
#custom-power {
  padding-left: 8px;
  padding-right: 8px;
}

#memory.critical,
#cpu.critical,
#battery.critical.discharging {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-name: blink-critical;
  animation-duration: 1s;
}

#network.disconnected,
#memory.warning,
#cpu.warning,
#battery.warning.discharging {
  color: @warning;
}

#workspaces {
  border-radius: 10px;
  background-color: @bg2;
  padding: 1px;
}

#workspaces * {
  border-radius: 50%;
}

#workspaces button {
  padding: 0.125 0.4rem;
  margin: 0 1px;
  color: @white;
  background: @unfocused;
}

#workspaces button.visible {
  color: @black;
  background: @green;
}

#workspaces button.focused {
  color: @black;
  background: @focused;
}

#workspaces button.urgent {
  color: @black;
  background: @warning;
}

#workspaces button:hover {
  color: @white;
  background: @black;
}

#network {
  color: @black;
  background: @gradient6;
  border-radius: 10px 0 0 10px;
  padding-right: 1rem;
}

#cpu {
  color: @black;
  background: @gradient5;
}

#memory {
  color: @black;
  background: @gradient4;
}

#disk {
  color: @black;
  background: @gradient3;
}

#custom-music {
  color: @black;
  font-weight: bold;
  background: @brgreen;
}

#bluetooth {
  color: white;
  background: @gradient2;
}

#pulseaudio {
  color: @black;
  background: @gradient2;
}

#tray {
  background: @gradient1;
}

#language {
  color: @white;
  font-weight: bold;
  background: @bg2;
}

#battery {
  color: @white;
  background: @gradient2;
}

#clock.date {
  color: @white;
  background: @date;
}

#clock.time {
  color: @black;
  background: @time;
  border-radius: 10px;
}

#custom-docker {
  color: @white;
}

#custom-power {
  color: @black;
  background: @gray;
  border-radius: 0 10px 10px 0;
  padding: 0 10px 0 5px;
}

#custom-power:hover {
  color: white;
  background: black;
}
