@keyframes fadeIn {
    0% {
    }
    100% {
    }
}

* {
    all:unset;
    font-family: 'CodeNewRoman Nerd Font Mono', monospace;
    font-size: 18px;
    outline: none;
    border: none;
    text-shadow:none;
}

window {
    all:unset;
    padding: 20px;
    border-radius: 5px;
    background-color: alpha(#1F1F28,.9);
}

#inner-box {
    margin: 2px;
    padding: 5px;
    border: none;
}
#outer-box {
    border: none;
}
#scroll {
    margin: 0px;
    padding: 30px;
    border: none;
}
#input {
    all:unset;
    margin-left:20px;
    margin-right:20px;
    margin-top:20px;
    padding: 20px;
    border: none;
    outline: none;
    color: #DCD7BA;
    box-shadow: 1px 1px 5px rgba(0,0,0, .5);
    border-radius:10px;
    background-color: alpha(#1F1F28,.2);
}
#input image {
    border: none;
    color: #C34043;
    padding-right:10px;
}
#input * {
    border: none;
    outline: none;
}

#input:focus {
    outline: none;
    border: none;

    border-radius:10;
}
#text {
    margin: 5px;
    border: none;
    color: #DCD7BA;
    outline: none;
}
#text {
    margin: 5px;
    border: none;
    color: #DCD7BA;
    outline: none;
}
#entry {
    border: none;
    margin: 5px;
    padding: 10px;
}
#entry arrow {
    border: none;
    color: #957FB8;

}
#entry:selected {
    box-shadow: 1px 1px 5px rgba(255,255,255, .03);
    border: none;
    border-radius: 20px;
    background-color:transparent;
}
#entry:selected #text {
    color: #7E9CD8;
}
#entry:drop(active) {
    background-color: #957FB8 !important;
}
