layout {
    tab name="docker-runners" cwd="~/Supplios/supplios-app/django_app/" {
        pane split_direction="vertical" {
            pane split_direction="horizontal" size="60%" {
                pane {
                    command "make"
                    args "run-django"
                }
            }
            pane split_direction="horizontal" size="40%" {
                pane size="80%" {
                    cwd "~/Supplios/supplios-app/django_app/_frontend"
                    command "npm"
                    args "run" "build-lib-watch"
                }
                pane size="10%" {
                    command "make"
                    args "run-celery-worker"
                }
                pane size="10%" {
                    command "make"
                    args "run-celery-beat"
                }
            }
        }
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
    }
}
